@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --contacts-text-color: #757575;
  --accent-text-color: #2196f3;
  --main-title-color: #ffffff;
  --footer-links-color: rgba(255, 255, 255, 0.6);
  --footer-background: #2f303a;
  --team-background: #f5f4fa;
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --filters-backgraund: #eeeeee;
  --header-border: #ececec;
  --button-shadow-hover: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --background-hero-gradient: rgba(47, 48, 58, 0.4);
  --background-hero: #c4c4c4;
  --cards-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
  --bg-icons: #ffffff;
  --icon: #afb1b8;
  --border-color: #afb1b8;
  --bg-icon-footer: rgba(255, 255, 255, 0.1);
  --title-images-bg: rgba(47, 48, 58, 0.8);
  --filters-bg: rgba(33, 150, 243, 0.9);
  --modal-bg: rgba(0, 0, 0, 0.2);
  --modal-box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.2), 0px 1px 1px 0 rgba(0, 0, 0, 0.14),
    0px 1px 3px 0 rgba(0, 0, 0, 0.12);
  --input: rgba(33, 33, 33, 0.2);
  --button-form: #188ce8;
  --button-form-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  --button-form-footer: rgba(255, 255, 255, 0.3);
  --placeholder: rgba(117, 117, 117, 0.5);
  --modal-button: rgba(0, 0, 0, 0.1);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
}

button {
  font-family: inherit;
  border: 1px solid transparent;
}

img {
  display: block;
}

.section,
.section-apps,
.section-clients,
.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section,
  .section-apps,
  .section-clients,
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 480px;
}

header .container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media (min-width: 767px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* header */
.header {
  border-bottom: 1px solid var(--header-border);
}

.container-nav {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .container-nav {
    display: flex;
  }
}

.header-mobile__icon {
  width: 24px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .header-mobile__icon {
    display: none;
  }
}

.header-mobile__icon:hover,
.header-mobile__icon :focus {
  fill: var(--accent-text-color);
}

.header-mobile__menu {
  background-color: var(--main-title-color);
  width: 40px;
  height: 40px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .header-mobile__menu {
    display: none;
  }
}

.container-nav__list {
  display: none;
}

@media screen and (min-width: 1200px) {
  .container-nav__list {
    display: flex;
    margin-left: 93px;
  }
  .container-nav__list .link.current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
  }
}

@media screen and (min-width: 768px) {
  .container-nav__list {
    display: flex;
    margin-left: 88px;
  }
}

.container-nav__list li {
  margin-right: 50px;
}

.container-nav__list li:last-child {
  margin-right: 0px;
}

.container-nav li {
  margin-right: 50px;
}

.container-nav li:last-child {
  margin-right: 0px;
}

.container-nav__items {
  display: flex;
  align-items: center;
}

.container-nav__logo {
  display: block;
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .container-nav__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.container-nav__logo--black {
  color: var(--primary-text-color);
}

.container-nav__link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-nav__link:hover, .container-nav__link:focus {
  color: var(--accent-text-color);
}

.header-contacts__item {
  display: flex;
  align-items: center;
  color: var(--contacts-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__item:hover, .header-contacts__item:focus {
  color: var(--accent-text-color);
}

@media screen and (min-width: 1200px) {
  .header-contacts__item {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contacts__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--contacts-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__item:hover .header-contacts__icon,
.header-contacts__item:focus .header-contacts__icon {
  fill: var(--accent-text-color);
}

.header-contacts__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--contacts-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__item:hover .header-contacts__icon-phone,
.header-contacts__item:focus .header-contacts__icon-phone {
  fill: var(--accent-text-color);
}

.header-contacts {
  display: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header-contacts {
    display: block;
    margin-left: 84px;
    margin-top: 21px;
    margin-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .nav {
    margin-top: 10px;
  }
}

.current-studio {
  position: relative;
  color: var(--accent-text-color);
}

.current-studio::after {
  position: absolute;
  content: '';
  width: 48px;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  margin-right: auto;
  bottom: 0;
  right: 0;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-title-color);
  overflow: auto;
  z-index: 1;
  padding: 48px 0 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02rem;
  color: var(--primary-text-color);
  text-decoration: none;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 33px;
}

.mobile-menu__icon-close {
  width: 18px;
  height: 18px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: var(--main-title-color);
  width: 40px;
  height: 40px;
}

.mobile-menu__close-btn:hover,
.mobile-menu__close-btn :focus {
  fill: var(--accent-text-color);
}

.mobile-menu__contacts-link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.mobile-menu__phone {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02rem;
  color: var(--accent-text-color);
  margin-bottom: 32px;
  margin-top: 302px;
}

.mobile-menu__link-current {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02rem;
  color: var(--accent-text-color);
}

.mobile-menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02rem;
  margin-bottom: 64px;
  color: var(--contacts-text-color);
}

.mobile-menu__social-links {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02rem;
  text-decoration: none;
  color: var(--accent-text-color);
}

.mobile-menu__social {
  display: flex;
}

.mobile-menu__social-item {
  margin-right: 20px;
}

.mobile-menu__instagram,
.mobile-menu__twitter,
.mobile-menu__facebook {
  position: relative;
}

.mobile-menu__instagram::after,
.mobile-menu__twitter::after,
.mobile-menu__facebook::after {
  position: absolute;
  content: '';
  width: 22px;
  height: 1px;
  background-color: var(--input);
  border-radius: 2px;
  margin-right: auto;
  bottom: 10px;
  right: -20px;
  transform: rotate(90deg);
}

/* section hero */
.background-hero {
  background-image: linear-gradient(var(--background-hero-gradient), var(--background-hero-gradient)), url(../images/background/background-mob.jpg);
  height: 400px;
  min-width: 480px;
  text-transform: uppercase;
  background-size: cover;
  text-align: center;
  background-position: center;
  background-color: var(--background-hero);
  border-top: 1px solid var(--header-border);
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .background-hero {
    background-image: linear-gradient(var(--background-hero-gradient), var(--background-hero-gradient)), url(../images/background/background-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .background-hero {
    background-image: linear-gradient(var(--background-hero-gradient), var(--background-hero-gradient)), url(../images/background/background-tablet.jpg);
    height: 400px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .background-hero {
    background-image: linear-gradient(var(--background-hero-gradient), var(--background-hero-gradient)), url(../images/background/background-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .background-hero {
    background-image: linear-gradient(var(--background-hero-gradient), var(--background-hero-gradient)), url(../images/background/background.jpg);
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .background-hero {
    background-image: linear-gradient(var(--background-hero-gradient), var(--background-hero-gradient)), url(../images/background/background@2x.jpg);
  }
}

.background-hero__title {
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 6%;
  color: var(--main-title-color);
  margin-top: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .background-hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.background-hero__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  background-color: var(--accent-text-color);
  color: var(--main-title-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
}

/* section apps */
.section-apps__title {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-apps__title {
    display: block;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.section-apps__title {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-apps__title {
    display: block;
    margin-bottom: 0px;
    margin-top: 0;
  }
}

.section-apps__item {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-apps__item {
    display: block;
  }
  .section-apps__item:not(:first-child) {
    margin-left: 30px;
  }
}

.section-apps__list {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-apps__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
}

.section-apps__bg {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-apps__bg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    background-color: var(--title-images-bg);
    top: 224px;
  }
}

/* section team */
.section-team__title,
.section-clients__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 1200px) {
  .section-team__title,
  .section-clients__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.section-team__list {
  display: block;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .section-team__list > .section-team__item:not(:first-child) {
    margin-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .section-team__list {
    display: grid;
    grid-template-columns: repeat(2, 354px);
    gap: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-team__list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }
}

.section-team__item {
  text-align: center;
  padding-bottom: 0px;
  width: 450px;
  background-color: var(--bg-icons);
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .section-team__item {
    width: 354px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-team__item {
    margin-top: 0px;
    width: 270px;
  }
}

.team-profile__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.team-profile__profession {
  color: var(--contacts-text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0px;
}

.icon-list__item:not(:last-child) {
  margin-right: 10px;
}

.section-team {
  background-color: var(--team-background);
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 480px;
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-profile {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  width: 450px;
  height: 162px;
}

@media screen and (min-width: 768px) {
  .team-profile {
    width: 354px;
    height: 162px;
  }
}

@media screen and (min-width: 1200px) {
  .team-profile {
    width: 270px;
    height: 168px;
  }
}

.icon-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list__link:hover .icon-list__icon,
.icon-list__link:focus .icon-list__icon {
  fill: var(--bg-icons);
}

.icon-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--bg-icons);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list__link:hover, .icon-list__link:focus {
  background-color: var(--accent-text-color);
}

.icon-list {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 16px;
  justify-content: center;
}

.team-set__images {
  width: 450px;
  height: 460px;
}

@media screen and (min-width: 767px) {
  .team-set__images {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team-set__images {
    width: 270px;
    height: 260px;
  }
}

/* section clients */
.section-clients__list {
  display: grid;
  grid-template-columns: repeat(2, 210px);
  gap: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .section-clients__list {
    display: grid;
    grid-template-columns: repeat(3, 226px);
    gap: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-clients__list {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
  }
}

.section-clients__icon {
  fill: var(--border-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__item:hover .section-clients__icon,
.section-clients__item:focus .section-clients__icon {
  fill: var(--accent-text-color);
}

.section-clients__icon--one {
  width: 42px;
  height: 47px;
}

.section-clients__icon--second {
  width: 38px;
  height: 34px;
}

.section-clients__icon--third {
  width: 43px;
  height: 41px;
}

.section-clients__icon--fourth {
  width: 84px;
  height: 41px;
}

.section-clients__icon--fifth {
  width: 63px;
  height: 45px;
}

.section-clients__icon--sixth {
  width: 94px;
  height: 44px;
}

.section-clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  width: 210px;
  height: 92px;
  border-radius: 4px;
  margin-right: 0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__item:hover, .section-clients__item:focus {
  border: 1px solid var(--accent-text-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .section-clients__item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .section-clients__item {
    width: 170px;
  }
}

.section-clients__link {
  align-items: center;
  justify-content: center;
}

/* section about us */
.section-information {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section-information {
    padding-top: 94px;
  }
}

.section-information__list {
  display: block;
}

@media screen and (min-width: 1200px) {
  .section-information__list > .section-information__item:first-child {
    margin-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .section-information__list {
    display: grid;
    grid-template-columns: repeat(2, 354px);
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-information__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.section-information__item {
  width: 450px;
}

.section-information__item.section-information__icon--first::before {
  display: block;
  content: '';
  height: 120px;
  background-color: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../images/svg/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-information__item.section-information__icon--second::before {
  display: block;
  content: '';
  height: 120px;
  background-color: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../images/svg/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-information__item.section-information__icon--third::before {
  display: block;
  content: '';
  height: 120px;
  background-color: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../images/svg/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-information__item.section-information__icon--fourth::before {
  display: block;
  content: '';
  height: 120px;
  background-color: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../images/svg/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .section-information__item {
    width: 354px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .section-information__item {
    width: 270px;
    margin-left: 30px;
    margin-right: 0;
  }
}

.section-information__text {
  color: var(--contacts-text-color);
  font-size: 14px;
  line-height: 1.71;
  height: 75px;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0px;
}

.section-information__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  height: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .section-information__title {
    text-align: left;
  }
}

/* footer */
.footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

@media screen and (max-width: 480px) {
  .footer {
    width: 480px;
  }
}

.container-footer {
  display: block;
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    flex-wrap: nowrap;
    display: block;
    align-items: baseline;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    width: 1200px;
  }
}

.footer-nav__logo {
  display: block;
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-nav__logo {
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-nav__logo {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer-nav {
    text-align: center;
  }
}

.footer-nav__adress {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-nav__adress {
    margin-right: 70px;
  }
}

.footer-nav__logo--white {
  color: var(--main-title-color);
}

.footer-nav__location {
  color: var(--main-title-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-nav__list {
  margin-top: 9px;
}

.footer-nav__contacts {
  display: block;
  color: var(--footer-links-color);
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav__contacts:hover, .footer-nav__contacts:focus {
  color: var(--accent-text-color);
}

.footer-nav__item {
  display: block;
  margin-top: 9px;
}

.footer-nav__title,
.form-container__title,
.section-apps__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  height: 16px;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
  color: var(--main-title-color);
}

@media screen and (max-width: 767px) {
  .footer-nav__title,
  .form-container__title,
  .section-apps__description {
    margin-top: 60px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-nav__title,
  .form-container__title,
  .section-apps__description {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .form-container__title {
    margin-top: 60px;
  }
}

.footer-icon__list {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
}

@media screen and (max-width: 767px) {
  .footer-icon__list {
    justify-content: center;
  }
}

.footer-icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--bg-icon-footer);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon__link:hover, .footer-icon__link:focus {
  background-color: var(--accent-text-color);
}

.footer-icon__img {
  width: 20px;
  height: 20px;
  fill: var(--bg-icons);
}

.footer-icon__link:hover .footer-icon__img,
.footer-icon__link:focus .footer-icon__img {
  fill: var(--bg-icons);
}

.footer-icon__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .form-container {
    margin-left: 93px;
  }
}

.footer-form {
  margin-top: 20px;
  position: relative;
}

.footer-form__email {
  width: 358px;
  padding: 15px 0 15px 16px;
  background-color: var(--footer-background);
  border-color: var(--button-form-footer);
  border-radius: 4px;
  box-shadow: var(--button-form-shadow);
  color: var(--bg-icons);
  width: 450px;
  margin-bottom: 70px;
}

.footer-form__email:focus {
  outline: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-form__email {
    margin: 0 152px 70px 166px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__email {
    width: 358px;
    margin-bottom: 0px;
  }
}

.footer-form__button {
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 62px 10px 29px;
  width: 200px;
  background-color: var(--accent-text-color);
  border-radius: 4px;
  color: var(--bg-icons);
  box-shadow: var(--button-form-shadow);
  left: 140px;
  bottom: 60px;
  transform: translate(-10%, 115%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-form__button {
    left: 0;
    bottom: 0;
    transform: translate(140%, 0);
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__button {
    position: relative;
    margin-left: 12px;
    top: 0;
    left: 0;
    transform: translate(-3%, 0%);
  }
}

.footer-form__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: var(--bg-icons);
  margin-left: 10px;
  top: 13px;
  right: 28px;
  bottom: 13px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-container__tablet {
    display: flex;
    justify-content: space-between;
    margin-left: 76px;
    margin-right: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container__tablet {
    display: flex;
    align-items: baseline;
  }
}

/* portfolio css */
.section-portfolio__button {
  background-color: var(--team-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  letter-spacing: 0.03em;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio__button:hover, .section-portfolio__button:focus {
  background-color: var(--accent-text-color);
  color: var(--main-title-color);
  box-shadow: var(--button-shadow-hover);
}

.section-portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .section-portfolio__list {
    justify-content: center;
  }
}

@media (min-width: 767px) and (max-width: 1199px) {
  .section-portfolio__list {
    justify-content: center;
  }
}

.section-portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.section-portfolio__item:nth-of-type(n + 4) {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .section-portfolio__item {
    justify-content: center;
  }
  .section-portfolio__item:nth-of-type(n + 4) {
    margin-top: 0px;
  }
}

.card-container__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.card-container__project {
  color: var(--contacts-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
  margin-bottom: 0px;
}

.current-portfolio {
  position: relative;
  color: var(--accent-text-color);
}

.current-portfolio::after {
  position: absolute;
  content: '';
  width: 78px;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  margin-right: auto;
  bottom: 0;
  right: 0;
}

.cards-set__link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.cards-set__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

@media screen and (min-width: 1200px) {
  .cards-set__list {
    margin-top: 50px;
  }
}

.cards-set__item {
  margin-bottom: 30px;
  margin-right: 30px;
  width: 450px;
}

.cards-set__item:hover, .cards-set__item:focus {
  box-shadow: var(--cards-shadow);
}

.cards-set__item:nth-child(3n) {
  margin-right: 0px;
}

.cards-set__item:nth-last-child(-n + 3) {
  margin-bottom: 30px;
}

.cards-set__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .cards-set__item {
    width: 370px;
  }
  .cards-set__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
  .cards-set__item:nth-child(3n) {
    margin-right: 0px;
  }
}

@media (min-width: 767px) and (max-width: 1199px) {
  .cards-set__item {
    width: 354px;
  }
  .cards-set__item:nth-child(2n) {
    margin-right: 0px;
  }
  .cards-set__item:nth-child(3) {
    margin-right: 30px;
  }
}

.card-container {
  height: 110px;
  width: 450px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: var(--main-title-color);
  border: 1px solid var(--filters-backgraund);
  border-top: none;
}

@media screen and (min-width: 1200px) {
  .card-container {
    width: 370px;
  }
}

@media (min-width: 767px) and (max-width: 1199px) {
  .card-container {
    width: 354px;
    height: 146px;
  }
}

.cards-set__description {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 0;
  background-color: var(--filters-bg);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--main-title-color);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateY(102%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-set__link:hover .cards-set__description {
  transform: translate(0%);
}

.cards-set__img {
  position: relative;
  overflow: hidden;
}

/* модалка */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 609px;
  min-width: 450px;
  background-color: var(--main-title-color);
  box-shadow: var(--modal-box-shadow);
  border-radius: 1px;
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__svg {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover .modal__svg,
.modal__button:focus .modal__svg {
  fill: var(--accent-text-color);
}

.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--main-title-color);
  border-radius: 50%;
  border: 1px solid var(--modal-button);
  padding: 0;
  cursor: pointer;
}

.modal-contacts__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  padding: 40px 40px 0 40px;
  margin-bottom: 12px;
  margin-top: 0;
}

@media screen and (min-width: 1200px) {
  .modal-contacts__title {
    line-height: 1.17;
  }
}

.modal-contacts__form {
  width: 450px;
  height: 609px;
}

@media screen and (min-width: 1200px) {
  .modal-contacts__form {
    width: 528px;
    height: 581px;
  }
}

.modal-contacts__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  color: var(--contacts-text-color);
  margin: 0 40px 10px 40px;
}

.modal-contacts__name {
  position: relative;
  display: block;
}

.modal-contacts__phone {
  position: relative;
  display: block;
}

.modal-contacts__mail {
  position: relative;
  display: block;
}

.modal-contacts__input {
  width: 370px;
  height: 40px;
  margin: 4px 0 0 0;
  padding: 0 0 0 42px;
  border-radius: 4px;
  border: 1px solid var(--input);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contacts__input:hover, .modal-contacts__input:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

@media screen and (min-width: 1200px) {
  .modal-contacts__input {
    width: 448px;
  }
}

.modal-contacts__icon-name {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  bottom: 14px;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contacts__input:hover + .modal-contacts__icon-name,
.modal-contacts__input:focus + .modal-contacts__icon-name {
  fill: var(--accent-text-color);
}

.modal-contacts__icon-phone {
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  bottom: 13px;
  left: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contacts__input:hover + .modal-contacts__icon-phone,
.modal-contacts__input:focus + .modal-contacts__icon-phone {
  fill: var(--accent-text-color);
}

.modal-contacts__icon-mail {
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  bottom: 13px;
  left: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contacts__input:hover + .modal-contacts__icon-mail,
.modal-contacts__input:focus + .modal-contacts__icon-mail {
  fill: var(--accent-text-color);
}

.modal-contacts__icon-checkbox {
  position: absolute;
  display: block;
  cursor: pointer;
  width: 16px;
  height: 15px;
  transform: translateX(-145%);
  top: 0px;
}

.checkbox:checked + .modal-contacts__icon-checkbox {
  display: block;
  content: '';
  width: 16x;
  height: 15px;
  background-image: url(../images/svg/check.svg);
  fill: var(--accent-text-color);
  background-color: var(--accent-text-color);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal-contacts__icon-checkbox {
    top: 5px;
  }
}

.modal-contacts__textarea {
  width: 370px;
  height: 120px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid var(--input);
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contacts__textarea:hover, .modal-contacts__textarea:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.modal-contacts__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  color: var(--placeholder);
}

@media screen and (min-width: 1200px) {
  .modal-contacts__textarea {
    width: 448px;
  }
}

.modal-contacts__button {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 500;
  width: 200px;
  background-color: var(--button-form);
  color: var(--bg-icons);
  box-shadow: var(--button-form-shadow);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 55px 10px 56px;
  margin: 0 125px 40px 125px;
}

@media screen and (min-width: 1200px) {
  .modal-contacts__button {
    margin: 0 163px 40px 165px;
  }
}

.modal-contacts__span {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.16;
  color: var(--contacts-text-color);
  margin: 0 40px 31px 64px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal-contacts__span {
    font-size: 14px;
    line-height: 1.71;
    margin: 0 51px 30px 77px;
    letter-spacing: normal;
  }
}

.modal-contacts__link {
  color: var(--button-form);
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .modal-contacts__link {
    font-size: 14px;
    line-height: 1.71;
  }
}
/*# sourceMappingURL=main.css.map */