/* section hero */

.background-hero {
  background-image: linear-gradient(
      var(--background-hero-gradient),
      var(--background-hero-gradient)
    ),
    url(../images/background/background-mob.jpg);
  height: 400px;
  min-width: 480px;

  text-transform: uppercase;
  background-size: cover;
  text-align: center;
  background-position: center;
  background-color: var(--background-hero);
  border-top: 1px solid var(--header-border);

  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          var(--background-hero-gradient),
          var(--background-hero-gradient)
        ),
        url(../images/background/background-mob@2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        var(--background-hero-gradient),
        var(--background-hero-gradient)
      ),
      url(../images/background/background-tablet.jpg);
    height: 400px;
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    & {
      background-image: linear-gradient(
          var(--background-hero-gradient),
          var(--background-hero-gradient)
        ),
        url(../images/background/background-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        var(--background-hero-gradient),
        var(--background-hero-gradient)
      ),
      url(../images/background/background.jpg);
    height: 600px;
    max-width: 1600px;

    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 1200px),
    (min-resolution: 192dpi) and (min-width: 1200px),
    (min-resolution: 2dppx) and (min-width: 1200px) {
    & {
      background-image: linear-gradient(
          var(--background-hero-gradient),
          var(--background-hero-gradient)
        ),
        url(../images/background/background@2x.jpg);
    }
  }
}

.background-hero__title {
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 6%;

  color: var(--main-title-color);

  margin-top: 0px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}
.background-hero__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;

  background-color: var(--accent-text-color);
  color: var(--main-title-color);
  cursor: pointer;
  border-radius: 4px;

  padding: 10px 32px;
}
