/* section team */

.section-team__title,
.section-clients__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 0px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}
.section-team__list {
  display: block;
  margin-top: 30px;

  @media screen and (min-width: 1200px) {
    & > .section-team__item:not(:first-child) {
      margin-left: 30px;
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    display: grid;
    grid-template-columns: repeat(2, 354px);
    gap: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }
}

.section-team__item {
  text-align: center;
  padding-bottom: 0px;
  width: 450px;
  background-color: var(--bg-icons);
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    width: 354px;
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0px;
    width: 270px;
  }
}
.team-profile__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 0px;
}
.team-profile__profession {
  color: var(--contacts-text-color);
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0px;
}
.icon-list__item:not(:last-child) {
  margin-right: 10px;
}
.section-team {
  background-color: var(--team-background);
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-profile {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  width: 450px;
  height: 162px;

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 162px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 168px;
  }
}

.icon-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .icon-list__link:hover &,
  .icon-list__link:focus & {
    fill: var(--bg-icons);
  }
}

.icon-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--bg-icons);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
}

.icon-list {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 16px;
  justify-content: center;
}

.team-set__images {
  width: 450px;
  height: 460px;

  @media screen and (min-width: 767px) {
    width: 354px;
    height: 374px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}
