.container {
  padding-left: 15px;
  padding-right: 15px;

  header & {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
  }

  @media (min-width: 767px) and (max-width: 1199px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
